<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 id="jhi-ponto-heading" jhiTranslate="candyShopApplicationApp.ponto.home.createOrEditLabel">Create or edit a Ponto</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!ponto.id">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id"
                        [(ngModel)]="ponto.id" readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="candyShopApplicationApp.ponto.quantidade" for="field_quantidade">Quantidade</label>
                    <input type="number" class="form-control" name="quantidade" id="field_quantidade"
                        [(ngModel)]="ponto.quantidade" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="candyShopApplicationApp.ponto.validade" for="field_validade">Validade</label>
                    <div class="input-group">
                        <input id="field_validade" type="text" class="form-control" name="validade" ngbDatepicker  #validadeDp="ngbDatepicker" [(ngModel)]="ponto.validade"
                        />
                        <span class="input-group-append">
                            <button type="button" class="btn btn-secondary" (click)="validadeDp.toggle()"><fa-icon [icon]="'calendar-alt'"></fa-icon></button>
                        </span>
                    </div>
                </div>

            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
